.container{
    padding: 40px;
}

body{
    background-color: #ccc;
}

h1{
    font-weight: 900;
}

h2{
    font-weight: 700;
}

.quote-container p {
    font-size: clamp(23px, 4vw, 26px);
    font-weight: 700;
}

.quote-container {
    font-size: 105%
}

.grid-container {
    background-color: coral;
}

.grid-container h2 {
    color: white;
}

.carousel-container{
    padding: 150px;
}